*{
    margin: 0;
    padding: 0;
}

body{
    background: #F5F5DC;
}

/* NAV */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #004225;
    /* gap: 150px; */
    padding: 15px;
}

ul{
    display: flex;
    align-items: center;
    gap: 150px;
    color: #F5F5DC;
    font-size: 15px;
    font-family: "M PLUS Rounded 1c";
}

li{
    list-style: none;
}

.icon, .account_icon{
    width: 65px;
    height: 65px;
}

main{
    margin-top: 100px;
}

/* ACCOUNT */
.account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 135px 100px 135px;
}

.acc_info{
    display: flex;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #004225;
    font-family: Mulish;
    font-weight: 600;
    font-size: 20px;
    gap: 20px;
    padding: 30px;
}

.acc_photo{
    width: 180px;
    height: 180px;
}

.acc_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add_objectives, .delete_objectives, .edit_account{
    width: 250px;
    padding: 15px;
    background: #F5F5DC;
    border: 3px solid #004225;
    font-size: 15px;
    font-family: Jost;
    color: #004225;
    border-radius: 12px;
    transition: .1s;
}

.add_objectives:hover, .delete_objectives:hover, .edit_account:hover{
    scale: 1.1;
    cursor: pointer;
}

.sum, .objectives_sum{
    margin: 0 0 10px 0;
}

.titles{
    margin: 0 0 100px 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #004225;
    font-family: 'Russo One';
}

/*OBJECTIVES  */
.objectives{
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: space-between;
    align-items: center;
    grid-gap: 30px;
    margin: 0 135px 100px 135px;
}

.objective{
    display: block;
    border: 3px solid #004225;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-family: Mulish;
    font-size: 15px;
    color: #004225;
}

.objective:hover{
    cursor: pointer;
}

.icon_and_sum{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_objective{
    padding: 10px;
}

.check_icon{
    width: 30px;
    height: 30px;
    padding: 10px;  
}

.nav_link{
    text-decoration: none;
    color: #F5F5DC;
}