*{
    margin: 0;
    padding: 0;
}

body{
    background: #F5F5DC;
}

section{
    display: grid;
    grid-template-columns: repeat(2, 380px);
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.names, .salaries{
    height: 430px;
    border: 5px solid #004225;
    margin-top: 100px;
    border-radius: 12px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inp1{
    width: 200px;
    height: 50px;
    border: 3px solid #004225;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: #F5F5DC;
    font-size: 20px;
    color: #004225;
    margin-bottom: 30px;
    font-family: "Jost";
    font-weight: 500;
}

.inp1::placeholder{
    text-align: center;
    font-family: "Jost";
    font-weight: 500;
    font-size: 25px;
    color: rgba(0, 66, 37, 0.5);
}

input:focus{
    outline: 0;
}

input:focus::placeholder{
    color: transparent;
}

.btn1{
    width: 200px;
    height: 50px;
    border: 3px solid #004225;
    background: #F5F5DC;
    font-family: Jost;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    color: #004225;
    margin-top: 50px;
}
/* Участок коду, де прописував стилі для таблиці */
.objectives{
    width: 760px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 5px solid #004225;
    border-radius: 12px;
    gap: 20px;
}

.title{
    font-family: Jost;
    font-weight: 500;
    font-size: 30px;
    border-bottom: 3px solid #004225;
    color: #004225;
    display: flex;
    align-self: flex-start;
    padding: 1px;
    margin: 25px 25px;
}

.inp2{
    width: 150px;
    height: 50px;
    border: 3px solid #004225;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: #F5F5DC;
    font-size: 20px;
    color: #004225;
    font-family: "Jost";
    font-weight: 500;
}

.inp2::placeholder{
    font-family: "Jost";
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 66, 37, 0.5);
}


.objective{
    display: flex;
    justify-content: space-between;
}

.sum{
    width: 50px;
    height: 50px;
    border: 3px solid #004225;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: #F5F5DC;
    font-size: 20px;
    color: #004225;
    font-family: "Jost";
    font-weight: 500;
}

.inp2, .sum{
    margin: 0 25px 10px 25px;
}

.accept{
    width: 300px;
    height: 50px;
    background:#F5F5DC;
    border: 3px solid #004225;
    color: #004225;
    font-size: 15px;
    border-radius: 12px;
    font-family: "Jost";
    font-weight: 500;
    margin: 30px auto;
}

button, input{
    cursor: pointer;
}

.checkbox{
    width: 30px;
    height: 30px;
    display: none;
}

.fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #004225;
    border-radius: 50%;
    position: relative;
}

.fake::before{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #004225;
    border: 3px solid #004225;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}