*{
    padding: 0;
    margin: 0 auto;
}
/* background */
body{
    background-image: url("../img/about-us/Background\ \(1\).png");
    margin: 0 auto;
}
/* navbar */

/* 1-discriptor */
/* 2-discriptor */
/* 3-discriptor */
/* 4-discriptor */