/* main settings */
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../img/add_objectives/add_objectives_background.png");
    background-size: cover;
}

input{background: rgba(255, 255, 255, 0)}
input:focus{outline: 0;}
input:focus::placeholder{color: transparent;}
img{margin: 50px 0 0 140px;}

.objectives{
    width: 760px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid #004225;
    border-radius: 12px;
    gap: 20px;
    margin: 40px auto;
}

.title{
    font-family: Jost;
    font-weight: 500;
    font-size: 30px;
    border-bottom: 3px solid #004225;
    color: #004225;
    display: flex;
    align-self: flex-start;
    padding: 1px;
    margin: 25px 25px;
}

.inp2{
    width: 150px;
    height: 50px;
    border: 3px solid #004225;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 20px;
    color: #004225;
    font-family: "Jost";
    font-weight: 500;
}

.inp2::placeholder{
    font-family: "Jost";
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 66, 37, 0.7);
}

.objective{
    display: flex;
    justify-content: space-between;
}

.objective:nth-child(4){
    margin-bottom: 30px;
}

.sum{
    width: 70px;
    height: 50px;
    border: 3px solid #004225;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 20px;
    color: #004225;
    font-family: "Jost";
    font-weight: 500;
}

.sum::placeholder{
    text-align: center;
    color: rgba(0, 66, 37, 0.7);
}

.inp2, .sum{
    margin: 0 25px 10px 25px;
}

.accept{
    width: 300px;
    height: 50px;
    background:#F5F5DC;
    border: 3px solid #004225;
    color: #004225;
    font-size: 15px;
    border-radius: 12px;
    font-family: "Jost";
    font-weight: 500;
}

.next_page{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

.check_elipse{
    width: 20px;
    height: 20px;
}

a{
    text-decoration: none;
    color: #004225;
}

@media (min-width: 768px) and (max-width: 1024px){
    
    section{
        grid-template-columns: repeat(2, 320px);
        gap: 70px;        
    }
    
    .objectives{width: 710px;}
}

@media (max-width: 767px){
    img{margin: 10px 0 0 20px;}

    body{
        background: url("../img/signUp/mobile_background.svg");
        background-repeat: no-repeat;
    }

    section{
        display: grid;
        grid-template-columns: repeat(1, 350px);
        gap: 25px;
    }

    .objectives{
        width: 350px;
        margin: 30px auto;
    }
    
}