* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/del_objectives/del_objectives_background.png);
    background-size: cover;
}

nav {
    display: flex;
    margin: 50px 0 0 150px;
}

/* main */

.delete_object {
    display: flex;
    justify-content: center;    
    width: 250px;
    padding: 15px;
    background: #F5F5DC;
    border: 3px solid #004225;
    font-size: 15px;
    font-family: Jost;
    color: #004225;
    border-radius: 12px;
    transition: .1s;
    margin-left: auto; /* Змінено, щоб кнопка була справа */
}

.delete_object:hover, .accept_button:hover{
    scale: 1.1;
    cursor: pointer;
}

.container{
    width: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #004225;
    border-radius: 12px;
    gap: 20px;
    margin: 100px auto;
}

.row-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.stroke{
    margin: 50px 50px 0px 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.output_container{
    /* margin: 50px 50px 0px 50px; */
    text-align: left;
    display: flex;
    align-items:baseline;
    flex-direction: column;
}

button{
    align-items: flex-end;
}

.accept_button{

    width: 250px;
    height: 58px;
    padding: 15px;
    background: #004225;
    border: 3px solid #004225;
    font-size: 15px;
    font-family: Jost;
    color: #F5F5DC;
    border-radius: 12px;
    transition: .1s;
}

.accept_stroke{
    margin: 50px 50px 50px 50px;
    display: flex;
    justify-content: flex-end;
}

.object_title {
    flex: 1;
    display: flex;
    align-items: center; /* Вирівнювання тексту по вертикалі по центру */
    color: #004225;
    font-family: Mulish;
    font-weight: 600;
    font-size: 20px;
    gap: 20px;
    padding: 30px;
}